.container {
	padding: 0 5%
}

.container-content {
	padding: 3% 1%;
}

.row {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%
}

.clear {
	clear: both
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* Page splitting code on 12 columns */

@media (min-width: 300px) {
	.col-s-1 {
		width: 8.33%;
		float: left;
	}

	.col-s-2 {
		width: 16.66%;
		float: left;
	}

	.col-s-3 {
		width: 25%;
		float: left;
	}

	.col-s-4 {
		width: 33.33%;
		float: left;
	}

	.col-s-5 {
		width: 41.66%;
		float: left;
	}

	.col-s-6 {
		width: 50%;
		float: left;
	}

	.col-s-7 {
		width: 58.33%;
		float: left;
	}

	.col-s-8 {
		width: 66.66%;
		float: left;
	}

	.col-s-9 {
		width: 75%;
		float: left;
	}

	.col-s-10 {
		width: 83.33%;
		float: left;
	}

	.col-s-11 {
		width: 91.66%;
		float: left;
	}

	.col-s-12 {
		width: 100%;
		float: left;
	}
}

@media (min-width: 768px) {
	.col-m-1 {
		width: 8.33%;
		float: left;
	}

	.col-m-2 {
		width: 16.66%;
		float: left;
	}

	.col-m-3 {
		width: 25%;
		float: left;
	}

	.col-m-4 {
		width: 33.33%;
		float: left;
	}

	.col-m-5 {
		width: 41.66%;
		float: left;
	}

	.col-m-6 {
		width: 50%;
		float: left;
	}

	.col-m-7 {
		width: 58.33%;
		float: left;
	}

	.col-m-8 {
		width: 66.66%;
		float: left;
	}

	.col-m-9 {
		width: 75%;
		float: left;
	}

	.col-m-10 {
		width: 83.33%;
		float: left;
	}

	.col-m-11 {
		width: 91.66%;
		float: left;
	}

	.col-m-12 {
		width: 100%;
		float: left;
	}
}

@media (min-width: 1250px) {
	.col-l-1 {
		width: 8.33%;
		float: left;
	}

	.col-l-2 {
		width: 16.66%;
		float: left;
	}

	.col-l-3 {
		width: 25%;
		float: left;
	}

	.col-l-4 {
		width: 33.33%;
		float: left;
	}

	.col-l-5 {
		width: 41.66%;
		float: left;
	}

	.col-l-6 {
		width: 50%;
		float: left;
	}

	.col-l-7 {
		width: 58.33%;
		float: left;
	}

	.col-l-8 {
		width: 66.66%;
		float: left;
	}

	.col-l-9 {
		width: 75%;
		float: left;
	}

	.col-l-10 {
		width: 83.33%;
		float: left;
	}

	.col-l-11 {
		width: 91.66%;
		float: left;
	}

	.col-l-12 {
		width: 100%;
		float: left;
	}
}
